body {
  background: linear-gradient(0deg, rgba(114, 114, 122, 0.3), rgba(121, 115, 115, 0.3)),
    url("stars.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  user-select: none;
  background-size: cover;
  text-align: center;
}


h1 {
  color: white;
  font-size: 60px;
  padding-bottom: 30px;
}


p {
  padding: 20px;
}

header>h1 {
  border-bottom: 1px dashed black;
  font-style: italic;
  font-size: x-large;
}

footer>p {
  border-top: 1px dashed black;
  font-style: italic;
}

table {
  border-spacing: 5px;
  margin: auto;
}

th {
  color: #FFF;
  background: #000;
  text-align: left;
}

td {
  border-bottom: 1px solid black;
  background: #F0F0F0;
  padding: 3px;
  text-align: left;
  vertical-align: top;
}

p#err_msg {
  color: #F00;
  font-weight: bold;
}

#back_button {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1;
}

#back_button_image {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}